{% extends "users/base.html" %}

{% block content %}
  <form action="" method="post" class="register-form text-center">
    {% csrf_token %}
    <h3 class="font-weight-light text-uppercase mb-4">Register</h3>
    {% for field in form %}
      <div class="form-group">
        {{ field}}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-custom btn-block badge-pill mb-4 mt-4">Register</button>
    <div>
      <p class="text-muted text-center mt-4">Already have a account? <a href="{% url 'login'%}" class="ml-2 text-link">Login</a> </p>
    </div>
  </form>
{% endblock content %}


